extends ../base

block title
	title Divisions

block main
	.content.content-divisions
		section.section.banner-div(style='background-image: url(' + require("./images/background-divisions.jpg") + ')')
			.banner-div_overlay
				.container
					h1 Вiддiл забечпечення якостi освiти та iнновацiйного розвитку
					ul 
						li 
							a(href="./") Головна
						li 
							a(href="divisions.html") Підрозділи
						
						li 
							a(href="org.html") Молодіжна організація
		section.section.fac-types
			.container.container_content
				section.slider.slick-divisions
					div
						div.row
							.fac-types_block
								div.col-sm-6.col-xs-12.col-sm-push-6
									.fac-types_block_img(style='background-image:url(' + require("./images/photo-5.jpg") + ')')
								div.col-sm-6.col-xs-12.col-sm-pull-6
									p.fac-types_block_post Керівник відділу 
									h5.fac-types_block_name Полякова Ганна Анатоліївна
									p.fac-types_block_text.
										Мета: вирішення сучасних завдань щодо забезпечення якості освіти та інноваційного розвитку ХНЕУ ім. С. Кузнеця.
										Функції: науково-дослідна, інформаційно-аналітична, проектно-цільова, організаційно-координаційна, моніторингу та самооцінки, методична, консультативна.
					div
						div.row
							.fac-types_block
								div.col-sm-6.col-xs-12.col-sm-push-6
									.fac-types_block_img(style='background-image:url(' + require("./images/photo-5.jpg") + ')')
								div.col-sm-6.col-xs-12.col-sm-pull-6
									p.fac-types_block_post Керівник відділу 
									h5.fac-types_block_name Полякова Ганна Анатоліївна
									p.fac-types_block_text.
										Мета: вирішення сучасних завдань щодо забезпечення якості освіти та інноваційного розвитку ХНЕУ ім. С. Кузнеця.
										Функції: науково-дослідна, інформаційно-аналітична, проектно-цільова, організаційно-координаційна, моніторингу та самооцінки, методична, консультативна.
				.fac-types_quote
					h3 
						| Щоб побачити щось 
						br
						| нове, треба створити
						br
						| щось нове.
						span.author.
							Г. Ліхтенберг
		section.section.contact-us
			.contact-us_overlay
				.container.container_content
					div.row
						.contact-us_blk
							div.col-md-6
								.contact-us_title Contact us
							div.col-md-6
								p.contact-us_text Зв'язок з нами
								ul.contact-us_menu
									li.contact-us_menu_list Відділ створено у 2010 р., реорганізовано у 2015 р.
									li.contact-us_menu_list 61166, м. Харків, просп. Науки, 9-А, ХНЕУ ім. С. Кузнеця, головний корпус, 2-й поверх, каб. 215
									li.contact-us_menu_list 
										a(href="tel:+380577021835") Тел. +38 (057) 702-18-35 (3-59)
									li.contact-us_menu_list 
										a(href="mailto:deptinnc@hneu.edu.ua") E-mail: deptinnc@hneu.edu.ua
		section.section.fac-programs
			.container.container_content
				div.row
					.fac-programs_blk
						div.col-md-6
							.fac-programs_box
								h4.fac-programs_name Напрями діяльності:
								ul.fac-programs_menu
									li Забезпечення функціонування системи якості ХНЕУ ім. С. Кузнеця.
									li Підтримка системи інноваційного розвитку ХНЕУ ім. С. Кузнеця.
									li Інформаційне забезпечення участі ХНЕУ ім. С. Кузнеця в національних та міжнародних рейтингах.
									li Проведення соціально-психологічних досліджень щодо забезпечення якості освіти ХНЕУ ім.  С. Кузнеця відповідно до вимог зовнішнього та внутрішнього середовища.
						div.col-md-6
							.fac-programs_img(style='background-image: url(' + require("./images/photo-2.jpg") + ')')
				div.row
					.fac-programs_blk
						div.col-md-6
							.fac-programs_img(style='background-image: url(' + require("./images/photo-8.jpg") + ')')
						div.col-md-6
							.fac-programs_box
									h4.fac-programs_name Напрями діяльності:
									section.slider.slick-divisions-tasks
										div
											.slick-divisions-tasks_box
												ul.fac-programs_menu
													li Участь у визначенні стратегій і формуванні нормативно-інструктивної та нормативно-методичної бази ХНЕУ ім. С. Кузнеця, яка регламентує внутрішнє забезпечення якості та інноваційну освітню діяльність.
													li Вивчення, узагальнення та поширення позитивного міжнародного і вітчизняного досвіду з питань освітніх інновацій для внутрішнього забезпечення якості.
										div
											.slick-divisions-tasks_box
												ul.fac-programs_menu
													li Участь у визначенні стратегій і формуванні нормативно-інструктивної та нормативно-методичної бази ХНЕУ ім. С. Кузнеця, яка регламентує внутрішнє забезпечення якості та інноваційну освітню діяльність.
													li Вивчення, узагальнення та поширення позитивного міжнародного і вітчизняного досвіду з питань освітніх інновацій для внутрішнього забезпечення якості.
		section.section
			.container.container_content
				p.views Кiлькiсть переглядiв:
					span 30000
		section.section.map
			.map_blk#map
		include ../footer