doctype html
html(lang="en")
	head
		block title
			title Index
		meta(charset="UTF-8")
		meta(name="viewport", content="initial-scale=1.0, width=device-width")
		block headscript
	body.body
		.body_wrapper
			block header
				include ./header
			block main
			block scripts