footer
	.footer#footer
		.footer_main
			.container
				ul.row
					li.col-lg-4.col-sm-6
						.footer_left.clearfix
							ul
								li
									a(href="") Факультети
								li
									a(href="") Підрозділи
								li
									a(href="") Бібліотека
								li
									a(href="") Абітурієнтам
								li
									a(href="") Студентам
							ul
								li
									a(href="") Работодавцям
								li
									a(href="") Про ХНЕУ ім. С.Кузнеця
								li
									a(href="") Міжнародна діяльність
								li
									a(href="") Наукова діяльність
								li
									a(href="") Медіа
					li.col-lg-3.col-sm-6
						.footer_center
							ul
								li Факультети
								li
									a(href="") Економіки і права
								li
									a(href="") Економічної інформатики
								li
									a(href="") Консалтингу і міжнародного бізнесу
								li
									a(href="") Менеджменту і маркетингу
								li
									a(href="") Міжнародних і економічних відносин
								li
									a(href="") Підготовки іноземних громадян
								li
									a(href="") Фінансовий факультет
					li.col-lg-5.col-sm-12
						.footer_right.clearfix
							ul.footer_socials
								li
									a(href="")
										span.fa.fa-facebook
										| Facebook
								//- li
								//- 	a(href="")
								//- 		span.fa.fa-vk
								//- 		| Вконтакте
								li
									a(href="")
										span.fa.fa-twitter
										| Twitter
								li
									a(href="")
										span.fa.fa-instagram
										| Instagram
								li
									a(href="")
										span.fa.fa-youtube
										| Youtube
							ul.footer_address
								li Наші контакти	
								li
									a(href="mailto:post@hneu.edu.ua") post@hneu.edu.ua 
								li
									a(href="tel:+380577020304") (057) 702  03  04
									a(href="tel:+380577020304") (057) 702  07  17
									a(href="tel:+380577021837") (057)  702  18  37 (Приймальна комісія)
								li
									p.
										Participant Identification Code 
										(PIC) S. KUZNETS KhNUE - 
										941523323
										м. Харків, просп. Науки, 
										9-А, 61166 Україна
		.footer_bottom
			.container
				ul.row
					li.col-sm-6
						.footer_bottom_left
							img(src=require("./index/images/min_osv.png"), alt="")
							img(src=require("./index/images/ukc.png"), alt="")
							.footer_copyright
								p 2017 © Усі права захищені.
					li.col-sm-6
						.footer_production
							a(href="http://unitspace.top") production by