extends ../base

block title
	title Anons
block main
	.content.content-anons
		section.section.banner-news(style='background-image: url(' + require("./images/photo-15.jpg") + ')')
			.banner-div_overlay
				.container
					h1 Anons
		section.mobile-picker
			.container
				//- p Оберіть дату:
				article
					.date
					//- input(type='text', value='01-01-2017')
		section.section.anons
			.container
				.anons_month
					h2 Вересень 2017
					a(href="").next
					a(href="").prev
				.anons_calendar
					.anons_calendar_top.clearfix
						ul
							li.month-name Mon
							li.month-name Tue
							li.month-name Wed
							li.month-name Thu
							li.month-name Fri
							li.month-name Sat
							li.month-name Sun
					.anons_calendar_main.clearfix
						ul
							li.event.past-event.no-event
								.event_box
									.event_box_date
							li.event.past-event.no-event
								.event_box
									.event_box_date
							li.event.past-event.no-event
								.event_box
									.event_box_date
							li.event.past-event.no-event
								.event_box
									.event_box_date
							li.event
								.event_box.morenews
									.event_box_inner
										.event_box_date 1
										a.event_box_name "День відкритих дверей"
										.event_box_hidden
											.event_box_links
												a(href="#") "День відкритих дверей"
												a(href="#") Дорога життя
												a(href="#") Інформація для учасників "пробного зно"
												.event_box_showmore +3
													a(href="#") "День відкритих дверей"
													a(href="#") Дорога життя
													a(href="#") Інформація для учасників "пробного зно"
							li.event.past-event.no-event
								.event_box
									.event_box_date 2
							li.event.past-event
								.event_box(style='background-image: url(' + require("./images/photo-2.jpg") + ')')
									.event_box_inner
										.event_box_date 3
										a(href="#").event_box_name "День відкритих дверей"
							li.event.past-event.no-event
								.event_box
										.event_box_date 4
							li.event.past-event.no-event
								.event_box
									.event_box_date 5
							li.event.no-event
								.event_box
									.event_box_date 6
							li.event
								.event_box.morenews
									.event_box_inner
										.event_box_date 7
										a.event_box_name "День відкритих дверей"
										.event_box_hidden
											.event_box_links
												a(href="#") "День відкритих дверей"
												a(href="#") Дорога життя
												a(href="#") Інформація для учасників "пробного зно"
												.event_box_showmore +3
													a(href="#") "День відкритих дверей"
													a(href="#") Дорога життя
													a(href="#") Інформація для учасників "пробного зно"
							li.event
								.event_box(style='background-image: url(' + require("./images/banner.jpg") + ')')
									.event_box_inner
										.event_box_date 8
										a(href="#").event_box_name "День відкритих дверей"
							li.event#event9
								.event_box(style='background-image: url(' + require("./images/photo-2.jpg") + ')')
									.event_box_inner
										.event_box_month september
										.event_box_date 9
										a(href="#").event_box_name "День відкритих дверей"
							li.event.no-event
								.event_box
									.event_box_date 10
							li.event.no-event
								.event_box
									.event_box_date 11
							li.event
								.event_box(style='background-image: url(' + require("./images/photo-9.jpg") + ')')
									.event_box_inner
										.event_box_date 12
										a(href="#").event_box_name "День відкритих дверей"
							li.event.no-event
								.event_box
									.event_box_date 13
							li.event
								.event_box.morenews
									.event_box_inner
										.event_box_date 14
										a.event_box_name "День відкритих дверей"
										.event_box_hidden
											.event_box_links
												a(href="#") "День відкритих дверей"
												a(href="#") Дорога життя
												a(href="#") Інформація для учасників "пробного зно"
												.event_box_showmore +3
													a(href="#") "День відкритих дверей"
													a(href="#") Дорога життя
													a(href="#") Інформація для учасників "пробного зно"
							li.event.no-event
								.event_box
									.event_box_date 15
							li.event
								.event_box(style='background-image: url(' + require("./images/photo-9.jpg") + ')')
									.event_box_inner
										.event_box_date 16
										a(href="#").event_box_name "День відкритих дверей"
							li.event.no-event
								.event_box
									.event_box_date 17
							li.event
								.event_box.morenews
									.event_box_inner
										.event_box_date 18
										a.event_box_name "День відкритих дверей"
										.event_box_hidden
											.event_box_links
												a(href="#") "День відкритих дверей"
												a(href="#") Дорога життя
												a(href="#") Інформація для учасників "пробного зно"
												.event_box_showmore +3
													a(href="#") "День відкритих дверей"
													a(href="#") Дорога життя
													a(href="#") Інформація для учасників "пробного зно"
							li.event.no-event
								.event_box
									.event_box_date 19
							li.event.no-event
								.event_box.no-event
									.event_box_date 20
							li.event
								.event_box(style='background-image: url(' + require("./images/photo-2.jpg") + ')')
									.event_box_inner
										.event_box_date 21
										a(href="#").event_box_name "День відкритих дверей"
							li.event.no-event
								.event_box
									.event_box_date 22
							li.event.no-event
								.event_box
									.event_box_date 23
							li.event.no-event
								.event_box
									.event_box_date 24
							li.event
								.event_box(style='background-image: url(' + require("./images/banner.jpg") + ')')
									.event_box_inner
										.event_box_date 25
										a(href="#").event_box_name "День відкритих дверей"
							li.event
								.event_box.morenews
									.event_box_inner
										.event_box_date 26
										a.event_box_name "День відкритих дверей"
										.event_box_hidden
											.event_box_links
												a(href="#") "День відкритих дверей"
												a(href="#") Дорога життя
												a(href="#") Інформація для учасників "пробного зно"
												.event_box_showmore +3
													a(href="#") "День відкритих дверей"
													a(href="#") Дорога життя
													a(href="#") Інформація для учасників "пробного зно"
							li.event
								.event_box(style='background-image: url(' + require("./images/photo-9.jpg") + ')')
									.event_box_inner
										.event_box_date 27
										a(href="#").event_box_name "День відкритих дверей"
							li.event.no-event
								.event_box
									.event_box_date 28
							li.event
								.event_box(style='background-image: url(' + require("./images/photo-2.jpg") + ')')
									.event_box_inner
										.event_box_date 29
										a(href="#").event_box_name "День відкритих дверей"
							li.event.no-event
								.event_box
									.event_box_date 30
							li.event.no-event
								.event_box
									.event_box_date 31
				//- p.views Кiлькiсть переглядiв: 
				//- 	span 30000
		//- #myCalendar
		//- input#myDatePicker-1.myInput(data-lang='ru', data-years='1995-2013', data-sundayfirst='false')
		section.section
			.container
				p.views Кiлькiсть переглядiв:
					span 30000
		section.section.map
			.map_blk#map
		include ../footer